<!-- Модальное окно -->
<div class="fixed inset-0 flex items-center justify-center h-screen" aria-labelledby="modal-title" role="dialog" aria-modal="true" *ngIf="isVisible">
  <div class="w-full h-full bg-[rgba(255,255,255,0)] flex items-center justify-between backdrop-blur-3xl">
    <div class="mx-auto my-auto justify-center items-center">
      <button (click)="closeModal()" type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent text-back hover:text-red-600 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center">
        <svg aria-hidden="true" class="w-7 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </button>
        <div class="flex justify-center items-center">
          <div class="flex flex-col items-center">
            <img [src]="photoBefore" *ngIf="photoBefore" class="w-[25em] object-contain mr-4 border border-back border-2 rounded-md">
            <span class="text-center">До</span>
          </div>
          <div class="flex flex-col items-center">
            <img [src]="photoAfter" *ngIf="photoAfter" class="w-[25em] object-contain ml-4 border border-back border-2 rounded-md">
            <span class="text-center">После</span>
          </div>
      </div>
    </div>
  </div>
</div>
